body
{
    background-image : url("back.jpg");
}
button
{
    width : 110px;
    height: 110px;
    background : orange;
    margin-left : 50px;
    margin-right : 50px;
}
.record-buttons
{
    text-align: center;
    
}
.play-buttons
{
    text-align: center;
    
}
.stop-buttons
{
    text-align: center;
   
}
label
{
    color :black;
    font-size : 40px;
    margin-left: 400px;
    
}

